.image {
	float: left;
	max-width: 80px;
	max-height: 80px;
}

.btn-group {
	background-color: grey;
	width: 100%;
}

button {
	width: 14.5%;
}

body,html{
	height: 100%;
	background-position: center;
	background-size: auto;

}
